section{
    display: flex;
}

li{list-style-type: none;}

.encadrePersonnage{
    position: relative;
    background:  rgb(147,9,18) url("../public/background/tache-transparent.png") ;
    background-position: 30%;
    color: aliceblue;
    padding: 1.4rem;
    margin: 0 1rem;
    width: 360px;
    box-shadow: 0px 0px 15px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif; /* Pourquoi ça ne fonctionne pas ? */
}

.encadrePersonnage h2 {
    text-align: center;
    padding-bottom: 1rem;
    text-shadow: 4px 4px 2px black;
}
.membre{
    text-align: center;
    margin-bottom: 1rem;
}
.monAvis{
    height: 8vh;
}
.listeJeux{
    margin: 1rem 0;
    min-height: 12vh;
}

.listeJeux ul{
    list-style-type: none;
    margin: 0.3rem 1rem;
}
.imagePersonnage{
    height: 40vh;
    display: block;
    margin: 0 auto 1rem auto;
}
.listeFilm{
    margin: 1rem 0;
}
.listeFilm ul{
    margin: 0.3rem 1rem;
}
@media screen and (max-width: 800px) {
    h1{font-size: 2rem;}
    .membre{color: aquamarine;}
    .encadrePersonnage{width: 75%; margin: 2rem auto;}
    section{
        display: block;
    }
}

.badge{
    position: absolute;
    top: 3%;
    right: 5%;
    width: 5vw;
}

/***************************************************************************************************/
.creation{
    display: flex;
    flex-direction: column;
    
    align-items: center;

    padding: 15px;
    width: 480px;
    background: url(../../public/background/umbrella.jpg);
    background-position: center;
    background-size: cover;
}
.creation h3{
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    font-family: sans-serif;
    text-shadow: 0 0 20px red;
}
#nom{
    height: 25px;
    padding: 5px 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
.checkboxStars{
    width: 81%;
    padding: 10px;
    background-color: azure;
    display: flex;
    box-sizing: content-box;
}
.creation *{
    opacity: 40%;
}
.creation:hover *{
    transition-duration: 1s;
    opacity: 100%;
}
.checkboxStars p{
    padding: 5px;
}
.petite{
    margin-left: 20px;
    padding: 5px 10px;
    background-color: beige;
    border-radius: 5px;
}
#stars{
    margin-left: 15px;
}
.alphaOuBravo{
    background-color: aqua;
    width: 61%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
#avis{
    margin-top: 10%;
}